<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>About</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-header class="head-card" text-center>About us</ion-card-header>
  </ion-card>

  <ion-card padding>
    <p text-wrap>
        Mangli Hoisery is an online retail undergarment, swimwear and Lingerie store offering affordable clothing to every individual in India, fashion style for less to impress - its online clothing shopping not to be missed. 

        Time saving, reliability and shopping convenience are important to us; we offer convenient shopping for all occasions and accessories to match.
    </p>
  </ion-card>

</ion-content>
