page-login {

    ion-row {
        align-items: center;
        text-align: center;
    }
    ion-item {
        border-radius: 20px !important;
        padding-left: 10px !important;
        margin-bottom: 10px !important;
        background-color: #f6f6f6;
        opacity: 0.9 ;
        font-size: 1.2em;
        border: 1px solid grey !important;
        margin: 5vw;
    }
    ion-list {
        margin: 0;
    }

    #page_bg{
        //background: #ec5564;
        background: map-get($colors, theme_dark);
    }

    #title_bg{
        //background: map-get($colors, theme_dark);
        background: white;
        border-radius: 40vw;
        width: 40vw;
        height: 40vw;
        margin: auto;
        color: #f6f6f6;
        font-weight: bold;

        //box-shadow: 0 0 4px 1px #c0392b;
        border-bottom: 0 none;
	    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    }

    .login-button {
        width: 100%;
        border-radius: 30px;
        font-size: 0.9em;
        //border: 1px solid #fff;
        border: 1px solid map-get($colors, theme_dark);
        //background: map-get($colors, light);
        background: white;
        font-weight: bold;
        color: map-get($colors, theme_dark);

        //-webkit-box-shadow: 0 1px 2px #c0392b;
	    //-moz-box-shadow: 0 2px 1px #c0392b;
        //box-shadow: 0 2px 1px #c0392b;
    
        //background: #c0392b;
        //background: linear-gradient(to right, #ff3800 0%, #ff0048 80%, #ff0048 100%);
    }

    .login-button:hover {
        
        background: map-get($colors, light);
        font-weight: bold;
        color: map-get($colors, theme_dark);
        -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	    -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    }

    .ORtext {
        color: white;
        text-shadow:
            -1px -1px 0 #000,  
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    }
    .or-text{
        color: white;
        font-size: 0.9em;
        margin-top: 0px;
        margin: 0px;
    }

    .other-text {
        color: white;
        font-size: 1.0em;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        margin: 5vw;

    }

    .other-text .fp:hover, .other-text .sg:hover {
        text-decoration: underline;
    }

    .btm {
        position: absolute;
        bottom: 10px;

    }
}
