
<ion-header>

  <ion-navbar>
    <ion-title>THANKS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card>
    SUCCESSFUL ORDER. THANKYOU!

    
  </ion-card>
    


  <ion-row *ngFor="let item of items; let i = index">
      <ion-card>
        <ion-row>
          <ion-col col-9>
            <ion-row><h2 text-wrap>{{item.name}}</h2></ion-row>
            <ion-row>{{item.brand}}</ion-row>
            <ion-row>Price: ₹{{total}}</ion-row>
            <ion-row><h2>Quantity: {{item.quantity}}</h2></ion-row>
            <ion-row ><h2>Delivery Date: {{delDate}}</h2></ion-row>
          </ion-col>
          
          <ion-col col-3>
            <img class="img-thumb" [src]="item.thumnail" />
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-row>
</ion-content>

