<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Guest Checkout</ion-title>
  </ion-navbar>

</ion-header>


<ion-content id="page_bg">
  <div id="title_bg">
  <div text-center style="font-size: 25vw; margin: 5vw; margin-bottom: 0vw; padding-top: 5vw;">
    <img src="assets/imgs/theme_logo.png" />  
  </div>

  </div>

  <div padding>
    <ion-row>
      <ion-col>       

    <button ion-button class="login-button" (click)="login()">Login</button>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>       
            
        <button ion-button class="login-button" (click)="guest()">Guest Checkout</button>
            </ion-col>
          </ion-row>
    </div>


</ion-content>