<!--
  Generated template for the CategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-capitalize> {{cat}}'s Category</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-row>
    <div class="box" *ngFor="let item of items" (click)="openSub(item.title)" text-uppercase>
      <div>{{item.title}}</div>
      <img class="thumb-icon" [src]="item.img" />
    </div>
  </ion-row>
</ion-content>
