page-category {
    .box{
        //background: #2EABFF;
        background: map-get($colors, theme_dark);
        //background: white;
        width: 50vw;
        height: 23vh;
        border: 1px solid map-get($colors, theme_light);
        padding-top: 12vw;
        //margin:2vw;
        text-align: center;
        //color: map-get($colors, theme_dark );
        color: white;
        font-size: 4vw;
        font-weight: bold;
    }
    .box:hover{
        //background: #9ad6ff;
        //background: map-get($colors, theme_dark );
        background: map-get($colors, theme_light );
        color: white;
    }

    .thumb-icon{
        width: 10vw;
        height: 10vw;
    }
}
