<!--
  Generated template for the ForgetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Forget</ion-title>
  </ion-navbar>

</ion-header>


<ion-content id="page_bg">

  <div id="title_bg">
  <div text-center style="font-size: 25vw; margin: 5vw; margin-bottom: 0vw; padding-top: 5vw;">
    <img src="assets/imgs/theme_logo.png" />  
  </div>

  </div>


  <div *ngIf="!emailFlag" padding>
    <form #loginForm="ngForm" (ngSubmit)="submitEmail()">
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
                <div item-start style="font-size: 5vw;"><ion-icon name="ios-mail-outline"></ion-icon></div>
                <ion-input type="text" name="email" placeholder="Email" id="emailField" required [(ngModel)]="user.email" ></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button ion-button class="login-button" type="submit" [disabled]="!loginForm.form.valid">Submit</button>
        </ion-col>
      </ion-row>
    </form>
  </div>

  <div *ngIf="emailFlag">
    <ion-card>
      <p>Check your email address for link to change password.</p>
    </ion-card>
  </div>


</ion-content>
