<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Cart</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content >
  
    <ion-card *ngIf="!show">
      <ion-row>
        <ion-col><ion-title>Total</ion-title></ion-col>
        <ion-col><ion-title float-right>₹{{total}}</ion-title></ion-col>
      </ion-row>
    </ion-card>
    <ion-card *ngIf="show">
      <ion-row >
        <ion-col><ion-title>Cart is Empty!</ion-title></ion-col>
      </ion-row>
    </ion-card>
    <ion-row *ngFor="let item of items; let i = index" >
      <ion-card>
        <ion-row>
          
          <ion-col col-9>
            <ion-row><h2 text-wrap>{{item.name}}</h2></ion-row>
            <ion-row>{{item.brand}}</ion-row>
            <!-- <ion-row>Size: {{item.sizes[0]}}</ion-row> -->
            <ion-row>Price: ₹{{item.total}}</ion-row>
            <ion-row>
              <ion-col>
                <button ion-button color="theme_dark" (click)="addItem(item)" icon-only>
                <ion-icon name="ios-add-outline"></ion-icon>
                </button>
              </ion-col>
              <ion-col>
                <ion-item><h2>{{item.quantity}}</h2></ion-item>
              </ion-col>
              <ion-col>
                <button ion-button color="light" (click)="reduceItem(item)" icon-only>
                <ion-icon name="ios-remove-outline"></ion-icon>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button color="danger" (click)="deleteItem(i)" icon-only>
                <ion-icon name="ios-trash-outline"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col col-3>
            <img class="img-thumb" [src]="item.thumnail" />
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-row>
  
  </ion-content>
  <ion-footer>
    <ion-row>
      <ion-col no-padding>
        <button ion-button color="danger" class="footBtn" (click)="emptycart()">
          Empty Cart
        </button>
      </ion-col>
      <ion-col no-padding>
        <button ion-button color="light" class="footBtn" (click)="toCheckout(items)">Checkout &nbsp;
          <ion-icon class="btnIcon" name="md-paper-plane" ></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-footer>