<!--
  Generated template for the TermsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Terms & Conditions</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card>
    <ion-card-header class="head-card" text-center>Representation of Goods</ion-card-header>
  </ion-card>

  <ion-card padding>
    <p text-wrap>
        Every effort is made to represent goods accurately & precisely, the reproduction of colors is as accurate as photographic and publishing processes will allow. Every effort is made to describe goods accurately. All photography is for illustravie purposes only and quality of item cannot not depicted based on the photography.
    </p>
  </ion-card>

  <ion-card>
    <ion-card-header class="head-card" text-center>Use of Site</ion-card-header>
  </ion-card>

  <ion-card padding>
    <p text-wrap>
        You may only use this site to browse the content, make legitimate purchases and shall not use this site for any other purposes, including without limitation, to make any speculative, false or fraudulent purchase. This site and the content provided in this site may not be copied, reproduced, republished, uploaded, posted, transmitted or distributed. 'Deep-linking', 'embedding' or using analogous technology is strictly prohibited. Unauthorized use of this site and/or the materials contained on this site may violate applicable copyright, trademark or other intellectual property laws or other laws.
    </p>
  </ion-card>

  <ion-card>
    <ion-card-header class="head-card" text-center>Disclaimer of Warranty</ion-card-header>
  </ion-card>

  <ion-card padding>
    <p text-wrap>
        The contents of this site are provided "as is" without warranty of any kind, either expressed or implied, including but not limited to warranties of merchant-ability, fitness for a purpose and non-infringement.

        The owner of this site, the authors of these contents and in general anybody connected to this site in any way, from now on collectively called "Providers", assume no responsibility for errors or omissions in these contents.
        
        The Providers further do not warrant, guarantee or make any representation regarding the safety, reliability, accuracy, correctness or completeness of these contents. The Providers shall not be liable for any direct, indirect, general, special, incidental or consequential damages (including -without limitation- data loss, lost revenues and lost profit) which may result from the inability to use or the correct or incorrect use, abuse, or misuse of these contents, even if the Providers have been informed of the possibilities of such damages. The Providers cannot assume any obligation or responsibility.
        
        The use of these contents is forbidden in those places where the law does not allow this disclaimer to take full effect.
    </p>
  </ion-card>

  <ion-card>
    <ion-card-header class="head-card" text-center>Our Rights</ion-card-header>
  </ion-card>

  <ion-card padding>
    <p text-wrap>
        We reserve the right to:

        modify or withdraw, temporarily or permanently, the Website (or any part of) with or without notice to you and you confirm that we shall not be liable to you or any third party for any modification to or withdrawal of the Website; and/or
        change these Conditions from time to time, and your continued use of the Website (or any part of) following such change shall be deemed to be your acceptance of such change. It is your responsibility to check regularly to determine whether the Conditions have been changed. If you do not agree to any change to the Conditions then you must immediately stop using the Website.
        We will use our reasonable endeavours to maintain the Website. The Website is subject to change from time to time. You will not be eligible for any compensation because you cannot use any part of the Website or because of a failure, suspension or withdrawal of all or part of the Website due to circumstances beyond our control.
    </p>
  </ion-card>

</ion-content>
