.ios, .md {

    page-profile {

    .profileNav{
        .toolbar{
            position: absolute;
            .toolbar-background{
                background: transparent;
            }
        }
    }

    #bannerImg {
        width: 100vw;
        padding: 0px;
        margin: 0px;
    }
      
    #profileBack{
       background: map-get($colors, light);
    }

    #btmBtn{
       position: absolute; 
       bottom: 0px;
       width: 100vw;  
       bottom-margin: 0px;      
    }
    #profileBanner{
        background: map-get($colors, theme_dark);
        //background: #ff084e;
        height: 30vh;

    }

    #profileImg{
        display: block;
        width: 10vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;  
        background: white;
        
        box-shadow:  0 0 2vh  rgba(0,0,0,0.6);
		-moz-box-shadow: 0 0 2vh  rgba(0,0,0,0.6);
		-webkit-box-shadow: 0 0 2vh  rgba(0,0,0,0.6);
		-o-box-shadow: 0 0 2vh  rgba(0,0,0,0.6);
    }

    #banner{
        display: block;
        width: 100vw;
        height: 30vh;
        background: map-get($colors, theme_light);
        position: relative;
        //border: 2px solid black;
        margin: 0px;
        margin-bottom: 10vw;
        //curvy banner
        border-bottom-left-radius: 50% 20%;
        border-bottom-right-radius: 50% 20%;

        box-shadow: 0 4px 2px -3px;
    }
    #page_bg{
        background: map-get($colors, light);
    }
    #bannerItem{
        position: absolute;
        width: 30vw;
        height: 30vw;
        background: white;
        top: 26%;
        //border: 1px solid black;
        margin-left: 35vw;
        margin-right: 35vw;
        
        border-bottom: 0 none;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    }
    #bannerName{
        text-align: center;
        color: white;
        font-size: 1.6rem;
    }
}

}
