<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="profileNav">

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="ios-menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title></ion-title>

    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="ios-settings"></ion-icon>
      </button>           
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content id="profileBack">

  <ion-content id="profileBanner" text-center padding>
      <ion-thumbnail >
        <img id="profileImg" src="assets/imgs/avatar-default.png" />
      </ion-thumbnail>
      <ion-title style="color: white !important;">{{user.firstname}} {{user.lastname}}</ion-title>     
      <p>{{user.email}}</p> 
      <button ion-button small icon-only color="light" float-right><ion-icon name="md-create" right></ion-icon></button>
  </ion-content>
  
  <div>
    <ion-card>
      <ion-card-header>{{user.firstname}} {{user.lastname}}</ion-card-header>
      <ion-card-content>
        <p>{{user.mobile}}</p>
        <p>{{user.email}}</p>
        
      </ion-card-content>
    </ion-card>
  </div>
  
  <div>
      <!-- <ion-card>
        <ion-card-header>Change Password</ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <div item-start class="icon-thumb"><ion-icon name="ios-key-outline"></ion-icon></div>
                <ion-input type="text" name="oldpassword" placeholder="Enter Old Password" id="oldpasswordField" required [(ngModel)]="user_edit.oldpassword"></ion-input>
              </ion-item>

              <ion-item>
                <div item-start class="icon-thumb"><ion-icon name="ios-key-outline"></ion-icon></div>
                <ion-input type="text" name="newpassword" placeholder="Enter New Password" id="newpasswordField" required [(ngModel)]="user_edit.newpassword"></ion-input>
              </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card> -->

      <ion-card>
    <ion-card-header>Address 1</ion-card-header>
    <ion-card-content>
      <p>Street: {{address1.street}}</p>
      <p>Locality: {{address1.locality}}</p>
      <p>City: {{address1.city}}</p>
      <p>Pincode: {{address1.pincode}}</p>
      <p>State: {{address1.state}}</p>
    </ion-card-content>
  </ion-card>
  </div>

  <div style="margin-top: 10vh;">
    <ion-list>
      <ion-item>SETTINGS</ion-item>
      <ion-item>LOGOUT</ion-item>
    </ion-list>
  </div>
</ion-content>
