order-details{
    .img-thumb {
        width: 22vw;
        height: 33vw;
    }
    .footBtn{
        width: 100%;
        font-size: 0.9em;
        //background-color: white;
        //color: black;
        margin: 0px;
        padding: 0px;
        //border: 0.2vw solid black;
        height: 12vw;
    }
    .btnIcon{         
        margin-right: 1vw;
        font-size: 1.1em;
    }
    .thumbnail{
        width: 10vw !important;
        height: 9vw !important;
    }
    .login-button {
        width: 100%;
        border-radius: 30px;
        font-size: 0.9em;
        //border: 1px solid #fff;
        border: 1px solid map-get($colors, theme_dark);
        //background: map-get($colors, light);
        background: white;
        font-weight: bold;
        color: map-get($colors, theme_dark);

        //-webkit-box-shadow: 0 1px 2px #c0392b;
	    //-moz-box-shadow: 0 2px 1px #c0392b;
        //box-shadow: 0 2px 1px #c0392b;
    
        //background: #c0392b;
        //background: linear-gradient(to right, #ff3800 0%, #ff0048 80%, #ff0048 100%);
    }

}
