<!--
  Generated template for the OrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Order Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

<ion-row >
      <ion-card>
        <ion-row>
          <ion-col col-9>
            <ion-row><h2 text-wrap>{{receivedData.name}}</h2></ion-row></ion-col> 
            
         
          
          <ion-col col-3>
            <img class="thumbnail" [src]="receivedData.thumbnail" />

          </ion-col>
          <ion-col col-12>
            <ion-row>{{receivedData.brand}}</ion-row>
            <ion-row>Size: {{receivedData.Size}}</ion-row>
            <ion-row>Quantity: {{receivedData.total_line_items_quantity}}</ion-row>
            <ion-row>Shipping Details: ₹{{receivedData.total_shipping}}</ion-row>
            <ion-row>Tax: ₹{{receivedData.total_tax}}</ion-row>
            <ion-row>Total: ₹{{receivedData.total}}</ion-row>
            <ion-row>
              <ion-col col-6>
               <button ion-button class="login-button" (click)="alert(1)">Return</button>
              </ion-col>
              <ion-col col-6>
               <button ion-button class="login-button"  (click)="alert(2)" >Cancel</button>
              </ion-col>
            </ion-row>
            </ion-col>
        </ion-row>
      </ion-card>
</ion-row>        

</ion-content>
