<!--
  Generated template for the SubPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>{{cat}} {{sub}}</ion-title>
      <ion-buttons right>
        <button ion-button icon-only>
          <ion-icon name="md-search"></ion-icon>
        </button>
  
        <button ion-button icon-only>
          <ion-icon name="ios-bookmark-outline"></ion-icon>
        </button>
  
        <button ion-button (click)="toCart()" icon-only>
          <ion-icon name="ios-basket"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content  class="pageBack">

    <ion-row class="items-wrapper"  *ngIf="!noproducts">
      <ion-card class="itemThumb" *ngFor="let prod of prods">
        <img class="imgThumb" [src]='prod.featured_src' (click)="openDetails(prod)" />
        <ion-card-content no-padding>
          <p class="wrap-text brand-text">{{prod.brand}}</p> 
          <ion-row>
            <ion-col class="price-text">₹{{prod.price}}</ion-col>
          </ion-row>
          <p class="wrap-text name-text">{{prod.title}}</p>
        </ion-card-content>
      </ion-card>
      
    </ion-row>
  
  </ion-content>
  <ion-content  class="pageBack" *ngIf="noproducts">

    <ion-row class="items-wrapper">
      <ion-card class="itemThumb" >
        <ion-card-content no-padding>
          <p class="wrap-text brand-text">No Products!!</p> 
        </ion-card-content>
      </ion-card>
      
    </ion-row>
  
  </ion-content>
  
  <ion-footer>
      <ion-row *ngIf="filteroption">
          <ion-card class="fullcard" >
              <ion-card-content no-padding>
                  <ion-list radio-group [(ngModel)]="filtercolor">
                      <ion-list-header>Color</ion-list-header>
                      <ion-scroll scrollY="true" style="height:17vw"> 
                      <ion-item *ngFor="let colors of colorarray" >
                          <ion-label>{{colors.name}}</ion-label>
                          <ion-radio value={{colors.name}} (click)="Filter('filter',colors.name,1)"></ion-radio>
                        </ion-item>
                      </ion-scroll>
                  </ion-list>
                  <ion-list radio-group [(ngModel)]="filtersize">
                      <ion-list-header>Size</ion-list-header>
                      <ion-scroll scrollY="true" style="height:17vw">
                      <ion-item *ngFor="let size of sizearray" >
                          <ion-label>{{size.name}}</ion-label>
                          <ion-radio value={{size.name}}></ion-radio>
                        </ion-item>
                      </ion-scroll>
                  </ion-list>
              </ion-card-content>
            </ion-card>
        </ion-row>
    <ion-row>
      <ion-col no-padding>
        <button ion-button class="footBtn" (click)="Sort()">
          <ion-icon class="btnIcon" name="ios-arrow-round-down"></ion-icon>
          <ion-icon class="btnIcon" name="ios-arrow-round-up"></ion-icon>SORT
        </button>
      </ion-col>
      <ion-col no-padding>
        <button ion-button class="footBtn" (click)="Filter()">
          <ion-icon class="btnIcon" name="ios-funnel" ></ion-icon>FILTER
        </button>
      </ion-col>
    </ion-row>
  </ion-footer>
  