page-sub {
    .item-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .itemThumb{
        width: 49vw;
        height: 72vw;
        margin: 0.4vw;
    }
    .fullcard{
        margin: 0px !important;
        width: 100% !important;
    }
    .imgThumb{
        width: 72%;
        margin-left: auto;
        margin-right: auto;
        margin: auto;
        margin-top: 1vw;
        height: 45vw;
    }

    .pageBack{
        background: map-get($colors, light);
    }

    .wrap-text{
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 2%;
    }
    .brand-text{
        font-size: 1.4rem;
        padding-bottom: 0px;
        font-weight: 380;
        font-style: italic;
    }
    .name-text{
        font-size: 1.3rem;
        color: grey;
        font-weight: 200;
    }
    .price-text {
        margin-left: 2%;
        padding-bottom: 0px;
        padding-top: 0px;
        font-size: 1.4rem;
    }
    .footBtn{
        width: 100%;
        font-size: 0.9em;
        background-color: white;
        color: black;
        margin: 0px;
        padding: 0px;
        //border: 0.2vw solid black;
        height: 12vw;
    }
    .btnIcon{
        color: grey; 
        margin-right: 1vw;
        font-size: 1.1em;
    }
}
