page-home {
    .bannersThumb1 {    
        width: 100vw;
        height: 66.66vw !important;    
    }

    .title-line {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin: 10px 0 20px;
        margin-top: 5vw;

        span {
            background: #fff;
            padding: 0 10px;
        }
    }

    .arrivalThumb{
        height: 52vw !important;
    }
    .item-wrapper{
        //display: flex;
        //align-items: center;
        //justify-content: center;
    }
    .itemThumb{
        width: 39vw;
        height: 52vw;
        margin: 25vw;
    }

    .imgThumb{
        width: 72%;
        height: 65%;
        margin-left: auto;
        margin-right: auto;
        margin: auto;
        margin-top: 1vw;
    }

    .pageBack{
        background: map-get($colors, light);
    }

    .wrap-text{
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 2%;
    }
    .brand-text{
        font-size: 1.0rem;
        padding-bottom: 0px;
        font-weight: 380;
        font-style: italic;
    }
    .name-text{
        font-size: 0.9rem;
        color: grey;
        font-weight: 200;
    }
    .price-text {
        margin-left: 2%;
        padding-bottom: 0px;
        padding-top: 0px;
        font-size: 1.0rem;
    }

    .trendingDiv {
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    .trendingThumb {     
        width: 44.44vw;
        height: 66.66vw;
        margin: 2vw; 
        border: 1px solid grey;    
    }
    .trendingCentered {  
        position: relative; 
        transform: translate(34%, -720%);
        color: rgb(247, 245, 245);
        font-size: 1.8rem;
        font-weight: bold;
        font-stretch: expanded;
        font-family: Arial, Helvetica, sans-serif;
        //-webkit-text-stroke: 0.5px black;
        text-shadow: 0px -3px 4px rgba(0, 0, 0, 0.75);    
    }
}
