<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Mangali Hosiery
    </ion-title>
    <ion-buttons right>
      <button ion-button (click)="Show()" icon-only>
        <ion-icon  name="md-search"></ion-icon>
      </button>

      <button ion-button  (click)="toCart()" icon-only>
        <ion-icon name="ios-bookmark-outline"></ion-icon>
      </button>

      <button ion-button (click)="toCart()" icon-only>
        <ion-icon name="ios-basket"><ion-badge color="theme_dark">{{items.length}}</ion-badge></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar
  *ngIf="this.showsearch"
  [(ngModel)]="myInput"
  [showCancelButton]="shouldShowCancel"
 
  (ionCancel)="onCancel($event)">
</ion-searchbar>
</ion-header>

<ion-content>
  <ion-slides class="bannersThumb1" pager>
    <ion-slide *ngFor="let slideImage of slideImages">
      <img class="bannersThumb1" [src]='slideImage.url'/>     
    </ion-slide>
  </ion-slides>

  <ion-title><div class="title-line"><span>New Arrivals</span></div></ion-title>

  <ion-slides class="arrivalThumb">
    <ion-slide *ngFor="let arrival of arrivals">
    
    <ion-col col-9 class="item-wrapper">
    <ion-card ion-col class="itemThumb">
      <img class="imgThumb" [src]='arrival.thumbnail' />
      <ion-card-content no-padding>
        <p class="wrap-text brand-text">{{arrival.brand}}</p> 
        <ion-row>
          <ion-col class="price-text">₹{{arrival.selling_price}}</ion-col>
        </ion-row>
        <p class="wrap-text name-text">{{arrival.name}}</p>
      </ion-card-content>
    </ion-card>
    </ion-col>
  </ion-slide>
  </ion-slides>

  <ion-title><div class="title-line"><span>Shop</span></div></ion-title>

  <ion-row class="trendingDiv">
    <ion-thumbnail *ngFor="let c of categorys" (click)="toCategory(c.key)">
      <div>
        <img class="trendingThumb" [src]='c.url' />
      </div>
      <div class="trendingCentered">{{c.title}}</div>
    </ion-thumbnail>
  </ion-row>

  <ion-item-divider text-center padding>
    <p>Mangli Hosiery &#169; </p>
  </ion-item-divider>

</ion-content>
