<!--
  Generated template for the ReturnPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Return</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card >
    <ion-card-header id="head-card" text-center>REFUND / RETURN POLICY</ion-card-header>
  </ion-card>

  <ion-card padding>
    <p text-wrap>
        The return policy contrives the opulence of cancelling the order without any cancellation charges involved until the order is not out for delivery yet. You may check the status of your order in your undergarment.co.in account ORDERS section. The order will discontinue to undergo cancellation if its status is OUT FOR DELIVERY. 

        For returning the product a few viables are required:
        
        The reason for return should be wrong size received/wrong color received/damaged item received. Any reason apart for these won't be entertained.
        You may initiate the returns by logging in your account and filling out the form for returns. We obligate a 2 working days time in order to investigate the return. If found an apt retrun reason, the return will be initiated and picked accordingly in a 2-4 days time.
        Further, the above mentioned machines help us to carry out our entire production process in smooth and effective manner.
        
        Due to hygiene reasons, we are unable to take return for any product that has been worn even once.
        
        For more information about how to return your purchase please contact our Support Team on (021) 853-4430, email info@undergarment.co.in alternatively please read Mangli Hoisery Returns Policy.
    </p>
  </ion-card>

  <ion-card>
    <ion-card-header>Contact Details</ion-card-header>
    <ion-card-content>
        <p>Warehouse Physical address: 426, Turab Nagar, GZB-201001</p>

        <p>Email address: info@undergarment.co.in</p>
    </ion-card-content>
  </ion-card>

</ion-content>
