<!--
  Generated template for the PaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Payment</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content>
  
    <ion-card>
      <ion-card-header>Payment Details</ion-card-header>
  
      <ion-row>
        <ion-col>Base Total:</ion-col>
        <ion-col>₹{{this.recievedData.order_details.total}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>G.S.T.: </ion-col>
        <ion-col>₹{{gst}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Delivery Charges: </ion-col>
        <ion-col>₹{{deliveryCharges}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Billing Amount: </ion-col>
        <ion-col>₹{{finalPrice}}</ion-col>
      </ion-row>
    </ion-card>
  
    <!-- <ion-card>
      <ion-card-header>Delivery Date</ion-card-header>
      <h2 text-center>{{delDate.toLocaleDateString('en-GB')}} By 5:00 P.M.</h2>
    </ion-card> -->
  
    <ion-card>
      <ion-list radio-group [(ngModel)]="payment_method">
        <ion-list-header>Choose Payment Method</ion-list-header>
  
        <ion-item>
          <ion-label>Cash On Delivery</ion-label>
          <ion-radio checked="true" value="cod"></ion-radio>
        </ion-item>
  
        <!-- <ion-item>
          <ion-label>Net Banking</ion-label>
          <ion-radio value="netbanking"></ion-radio>
        </ion-item>
  
        <ion-item>
          <ion-label>Credit / Debit Card</ion-label>
          <ion-radio value="card"></ion-radio>
        </ion-item> -->
      </ion-list>
    </ion-card>
  </ion-content>
  
  <ion-footer>
    <button class="btmBtn" (click)="toNext()" ion-button full>Next</button>  
  </ion-footer>
  