page-payment {
    .btmBtn{
        margin: 0px;
        padding: 0px;
        height: 12vw;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 5vw;
        font-weight: 500;
        background: map-get($colors, theme_dark);
    }

    .btmBtn:hover{
        margin: 0px;
        padding: 0px;
        height: 12vw;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 5vw;
        font-weight: 500;
        background: map-get($colors, theme_light);
    }

}
