<ion-menu [content]="content">
    <ion-header>
        <div>
            <ion-row>
                <ion-col col-3>
                    <img id="menuImg" src="assets/imgs/avatar-default.png" />
                </ion-col>
                <ion-col>
                    <ion-row  *ngIf="!hide" id="guest-msg">Welcome, Guest</ion-row>
                    <ion-row  *ngIf="hide && this.user" id="guest-msg">Welcome, {{this.user.username}}</ion-row>
                <ion-row no-padding *ngIf="!hide">
                    <ion-col>
                        <button class="smallBtn" ion-button (click)="toLogin(1)" small menuClose>Login</button>
                    </ion-col>
                    <ion-col>
                        <button class="smallBtn" ion-button (click)="toSignup()" small menuClose>Signup</button>
                    </ion-col>
                </ion-row>
                <ion-row no-padding *ngIf="hide">
                    <ion-col>
                        <button class="smallBtn" ion-button (click)="toLogin(2)" small menuClose>Logout</button>
                    </ion-col>
                </ion-row>
                </ion-col>
            </ion-row>
        </div>
    </ion-header>

    <ion-content>
        <ion-list class="menu-list" no-padding>
            <ion-item *ngFor="let p of pages; let i = index" text-wrap no-lines no-padding>
                <button ion-item (click)="toggleSection(i)" [ngClass]="{'section-active': p.open, 'section': !p.open}" text-uppercase>
                    <ion-icon item-right name="ios-arrow-forward-outline" *ngIf="!p.open"></ion-icon>
                    <ion-icon item-right name="ios-arrow-down-outline" *ngIf="p.open"></ion-icon>
                    <ion-icon [name]="p.icon"></ion-icon> &nbsp; {{p.category}}
                </button>

                <ion-list *ngIf="p.subs && p.open">
                    <!--Second Level-->
                    <ion-item *ngFor="let s of p.subs; let j = index" (click)="openSub(i, j)" [ngClass]="{'sub-active': s.open, 'sub': !s.open}"  text-wrap text-uppercase menuToggle>
                        {{s.subcategory}}
                    </ion-item>
                </ion-list>
            </ion-item>

            <ion-item text-wrap no-lines no-padding text-uppercase>
                <button menuClose ion-item class="section" *ngFor="let op of otherpages" (click)="openPage(op)">
                    <ion-icon item-right name="ios-arrow-forward-outline"></ion-icon>
                    <ion-icon [name]="op.icon"></ion-icon> &nbsp; {{op.title}}
                </button>
            </ion-item>
        </ion-list>

        
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
