.activeHighlight {
    background-color: map-get($colors, theme_dark);
    //background-color: #ff5585;
    color: white;
}
.menu-inner > ion-header {
    background: map-get($colors, theme_dark );
    height: 15vh;
}
#menuImg {
    width: 17vw;
    height: 17vw;
    padding: 0px !important; 
}
.smallBtn {
    margin-right: 1vh;
    margin-top: 2vh;
    margin-bottom: 3vh;
    font-size: 1.2rem;
    border-radius: 30px;
    border: 1px solid #fff;
    background-color: #f3e5e9;
    color: black;
}
#guest-msg {
    font-size: 2.0rem;
}
.mainItems {
    font-size: 1.8rem !important;
}

.label-md {
    margin: 0px;
}
.section {
    font-size: 15vw !important;
    //background: #fff;
    color: #000;
    margin-bottom: 1vw;
}
.section-active {
    //background: #ffc400;
    background-color: #ff5585;
    color: #fff;
}
.sub {
    font-size: 10vw !important;
    //background: #fff;
    color: #000;
    margin-bottom: 1vw;

    .label-md {
        font-size: 1.2rem;
    }
}
.sub-active {
    font-size: 10vw !important;
    background: color($colors, primary);
    color: #fff;
}
.menu-list {
    background: color($colors, light);
    height: 100%;
    ion-list-header {
        margin-bottom: 1vw;
        font-size: 1.8rem;
    }
}