<!--
  Generated template for the ImagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content>
  
    <ion-slides class="detailThumb" pager>
      <ion-slide *ngFor="let image of images">
        <img class="imgThumb" [src]='image' />
      </ion-slide>
    </ion-slides>
  
  </ion-content>