page-checkout {
    #pageBg {
        background: map-get($colors, theme_dark);
        color: white;
    }
    #status-icon {
        font-size: 20vw;
        color: white;
    }
    .done-btn {
        width: 50%;
        border-radius: 30px;
        font-weight: bold;
        border: 1px solid #fff;
        margin-left: 25%;
        margin-right: auto;
        background: white;
        color: map-get($colors, theme_dark);
    }

    .item-div {
        border: 1px dashed white;
    }
    
}
