<!--
  Generated template for the CheckoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Checkout</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content id="pageBg">
  
    <div id="status-icon" text-center>
      <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
    </div>
  
    <h1 style="font-size: 8vw;" text-center>Success</h1>
    <h2 text-center text-wrap>Payment done successfully</h2>
    <h3 text-center text-wrap>Your Order ID is:  {{id}}</h3>
  
    <ion-list>
      <div class="item-div" *ngFor="let item of items" text-center text-wrap>
        <p>{{item.name}}</p>
        <p>Size: {{item.sizes[0]}}</p>
        <p>Quantity: {{item.quantity}}</p>
        <p>Price (per item): ₹{{item.price}}</p>
      </div>
    </ion-list>
    <ion-list>
      <div class="item-div" text-center text-wrap>
        <h2>Total: ₹{{amount}}</h2>
      </div>
    </ion-list>
    <button class="done-btn" ion-button text-center color="light" outline (click)="toHome()">Done</button>
    
  </ion-content>
  