<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Signup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content id="page_bg">
    <div id="title_bg">
    <div text-center style="font-size: 25vw; margin: 5vw; margin-bottom: 0vw; padding-top: 5vw;">
        <img src="assets/imgs/theme_logo.png" />   
    </div>
    </div>

    <div padding>
      <form #signupForm="ngForm" (ngSubmit)="register()">
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item>
                  <div item-start style="font-size: 5vw;"><ion-icon name="ios-person-outline"></ion-icon></div>
                  <ion-input type="text" name="username" placeholder="UserName" id="usernameField" required [(ngModel)]="user.username"></ion-input>
              </ion-item>

              <ion-item>
                  <div item-start style="font-size: 5vw;"><ion-icon name="ios-mail-outline"></ion-icon></div>
                  <ion-input type="text" name="email" placeholder="Email" id="emailField" required [(ngModel)]="user.email"></ion-input>
              </ion-item>


              <ion-item>
                  <div item-start style="font-size: 5vw;"><ion-icon name="ios-key-outline"></ion-icon></div>
                  <ion-input [type]="typename" name="password" placeholder="Password" id="passwordField" required [(ngModel)]="user.password" ></ion-input>
                  <button *ngIf="!toggleBtn" ion-button clear item-end style="font-size: 5vw;" color="dark" (click)="toggleEye()" icon-only><ion-icon name="ios-eye-off-outline"></ion-icon></button>
                  <button *ngIf="toggleBtn" ion-button clear item-end style="font-size: 5vw;" (click)="toggleEye()" icon-only><ion-icon name="ios-eye-outline"></ion-icon></button>
              </ion-item>

            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <p text-wrap>(By signing up you agree to our terms & conditions & privacy policy.)</p>
        </ion-row>

        <ion-row>
          <ion-col>
            <button ion-button class="signup-button" type="submit" (click)="toggleEye()" [disabled]="!signupForm.form.valid">Signup</button>
          </ion-col>
        </ion-row>
      </form>
    </div>

</ion-content>
