<!--
  Generated template for the ShippingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Shipping Address</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <!-- <ion-card>
    <ion-card-header>Address 1</ion-card-header>
    <ion-card-content>
      <p>Street: {{address1.street}}</p>
      <p>Locality: {{address1.locality}}</p>
      <p>City: {{address1.city}}</p>
      <p>Pincode: {{address1.pincode}}</p>
      <p>State: {{address1.state}}</p>
    </ion-card-content>
  </ion-card> -->

    <ion-row>
        <ion-col>
          <button ion-button color="theme_dark" (click)="toggleFlag()">Add New Address</button>
        </ion-col>
    </ion-row>

    <div *ngIf="addFlag">
      <p text-center>(Note: All Fields Are Required)</p>
    <div padding>
      <form #shippingForm="ngForm" (ngSubmit)="toNext(address)">
        <ion-row>
          <ion-col>
            <ion-list>
                <ion-item>
                    <div item-start class="icon-thumb"><ion-icon name="ios-home-outline"></ion-icon></div>
                    <ion-input type="text" name="street" placeholder="Enter your first name" id="first_nameField" required [(ngModel)]="address.first_name"></ion-input>
                  </ion-item>
                <ion-item>
                  <div item-start class="icon-thumb"><ion-icon name="ios-podium-outline"></ion-icon></div>
                  <ion-input type="text" name="city" placeholder="Enter your last name" id="last_nameField" required [(ngModel)]="address.last_name"></ion-input>
                </ion-item>
              <ion-item>
                <div item-start class="icon-thumb"><ion-icon name="ios-home-outline"></ion-icon></div>
                <ion-input type="text" name="street" placeholder="Enter your first address" id="address_1Field" required [(ngModel)]="address.address_1"></ion-input>
              </ion-item>
              <ion-item>
                  <div item-start class="icon-thumb"><ion-icon name="ios-home-outline"></ion-icon></div>
                  <ion-input type="text" name="street" placeholder="Enter your second address" id="address_2Field" required [(ngModel)]="address.address_2"></ion-input>
                </ion-item>
              <ion-item>
                <div item-start class="icon-thumb"><ion-icon name="ios-podium-outline"></ion-icon></div>
                <ion-input type="text" name="city" placeholder="Enter City Name" id="cityField" required [(ngModel)]="address.city"></ion-input>
              </ion-item>
              <ion-item>
                  <div item-start class="icon-thumb"><ion-icon name="ios-train-outline"></ion-icon></div>
                  <ion-input type="text" name="state" placeholder="Enter State Name" id="stateField" required [(ngModel)]="address.state"></ion-input>
                </ion-item>
              <ion-item>
                <div item-start class="icon-thumb"><ion-icon name="ios-pin-outline"></ion-icon></div>
                <ion-input type="text" name="pincode" placeholder="Enter Pincode" id="pincodeField" required [(ngModel)]="address.pincode"></ion-input>
              </ion-item>
              <ion-item>
                  <div item-start class="icon-thumb"><ion-icon name="ios-home-outline"></ion-icon></div>
                  <ion-input type="text" name="locality" placeholder="Enter country" id="countryField" required [(ngModel)]="address.country"></ion-input>
                </ion-item>
  
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
          <button ion-button color="theme_dark" class="submit-button" type="submit" [disabled]="!shippingForm.form.valid">Next</button>
        </ion-col>
        </ion-row>
      </form>  
    </div>
    </div>

    <ion-row *ngIf="!addFlag">
      <ion-col>
          <button class="pymBtn" color="theme_dark" ion-button (click)="toNext(address1)" full>Payment</button>
      </ion-col>
    </ion-row>
</ion-content>

