page-shipping {

    .pymBtn {
        position: fixed;
        height: 12vw;
        left: 0;
        bottom: 5px;
        right: 0;
        margin: 0px;
        padding: 0px;
    }

    .submit-button {
        position: relative;
        left: 0;
        bottom: 5px;
        right: 0;
        width: 90vw;
    }
}
