page-orders {
    .img-thumb {
        width: 22vw;
        height: 33vw;
    }
    .footBtn{
        width: 100%;
        font-size: 0.9em;
        //background-color: white;
        //color: black;
        margin: 0px;
        padding: 0px;
        //border: 0.2vw solid black;
        height: 12vw;
    }
    .btnIcon{         
        margin-right: 1vw;
        font-size: 1.1em;
    }
}
