<!--
  Generated template for the OrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Orders</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

<ion-row *ngFor="let item of items; let i = index">
      <ion-card (click)="OrderDetails(item)">
        <ion-row>
          <ion-col col-9>
            <ion-row><h2 text-wrap>{{item.order_number}}</h2></ion-row>
            <ion-row>Total: ₹{{item.total}}</ion-row>
            <ion-row>Order ID: {{item.id}}</ion-row>
            <ion-row>Date: {{item.completed_at}}</ion-row>
          </ion-col>  
        </ion-row>
      </ion-card>
</ion-row>        

</ion-content>
