page-details {
    .trans-nav{
        .toolbar{
            position: absolute;
            .toolbar-background{
                background: transparent;
            }
        }
    }
    .pageBack {
        background: map-get($colors, light );
    }
    .detailThumb{
        width: 100vw !important;
        height: 142vw !important;
        //border: 0.5vw solid black;
    }

    .imgThumb{
        padding-top: 28vw !important;
    }

    .rightText{
        margin-left: 15vw;
    }

    .size-circle{
        height: 12vw;
        width: 12vw;
        background-color: white;
        color: black;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        border: 0.3vw solid black;
        margin-right: 5vw;
        font-size: 1.1rem;
        padding: 2vw;
    }

    .btmBtn{
        margin: 0px;
        padding: 0px;
        height: 10vw;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 5vw;
        font-weight: 500;
    }

}
