<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="trans-nav">

    <ion-navbar>
      <ion-title>Details</ion-title>
      <ion-buttons right>
        <button ion-button icon-only>
          <ion-icon name="md-search"></ion-icon>
        </button>
  
        <button ion-button icon-only>
          <ion-icon name="ios-bookmark-outline"></ion-icon>
        </button>
  
        <button ion-button (click)="toCart()" icon-only>
          <ion-icon name="ios-basket"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content>
    <ion-row>
    <ion-slides class="detailThumb" pager>
      <ion-slide *ngFor="let image of product.images" (click)="toImages(product.images.src)">
        <img class="imgThumb" [src]='image.src' />
      </ion-slide>
    </ion-slides>
    </ion-row>
  
    <ion-row class="pageBack">  
    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col>{{product.title}}</ion-col> <span class="rightText">₹{{product.price}}</span>
        
        </ion-row>
        <ion-row *ngIf="showprice">
          <ion-col>
          <span > Regular price ₹{{price1}}</span>
        </ion-col>
        </ion-row>
        <ion-row *ngIf="showprice">
            <ion-col>
                <span >Discount-{{discount}}%</span>
          </ion-col>
          </ion-row>
        <ion-row *ngIf="showprice">
            <ion-col>
                <span >Sale Price ₹{{price2}}</span>
          </ion-col>
          </ion-row>

        <ion-row>
          <ion-col>{{product.brand}}</ion-col> <span class="rightText">{{product.id}}</span>
        </ion-row>
      </ion-card-content>
    </ion-card>
  

    <ion-card *ngFor="let array of product.attributes">
      <ion-card-header>{{array.name}}</ion-card-header>
      <ion-card-content>
        <!-- <ion-row  >
          <button  class="size-circle" 
          *ngFor="let sizearr of at"
          ion-button (click)="selection(sizearr,1)">{{sizearr}}</button>
        </ion-row> -->
        <ion-item>
          <ion-label>{{array.name}}</ion-label>
          <ion-select [(ngModel)]="array.selection" (ionChange)="PriceUpdater(product)">
              <ion-option [value]="sizearr" *ngFor="let sizearr of array.options">{{sizearr}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>
    
  
    <ion-card>
      <ion-card-header>Description</ion-card-header>
      <ion-card-content>{{product.description}}</ion-card-content>
    </ion-card>
    <ion-card>
        <ion-item>
          <ion-label>Quantity</ion-label>
          <ion-select [(ngModel)]="Quantity">
              <ion-option value="1">1</ion-option>
              <ion-option value="2">2</ion-option>
              <ion-option value="3">3</ion-option>
              <ion-option value="4">4</ion-option>
              <ion-option value="5">5</ion-option>
              <ion-option value="6">6</ion-option>
              <ion-option value="7">7</ion-option>
              <ion-option value="8">8</ion-option>
          </ion-select>
        </ion-item>
    </ion-card>
    <ion-card *ngIf="this.product && this.show">
      <ion-card-content>Material: {{plain_text}}</ion-card-content>
    </ion-card>
  
    <ion-card *ngIf="this.product && this.show">
      <ion-card-content>Care: {{plain_text}}</ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-content >Category: {{product.categories[0]}} </ion-card-content>
    </ion-card>
  
    </ion-row>
  </ion-content>
  
  <ion-footer>
    <button class="btmBtn" color="theme_dark" ion-button (click)="AddtoCart()" full>Add to Cart</button>  
  </ion-footer>
  
  