<!--
  Generated template for the PrivacyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Privacy</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card>
    <ion-card-header id="head-card" text-center>Privacy notice</ion-card-header>
  </ion-card>

  <ion-card padding>
    <p text-wrap>
        Thank you for visiting our web site. This privacy policy tells you how we use personal information collected at this site. Please read this privacy policy before using the site or submitting any personal information. By using the site, you are accepting the practices described in this privacy policy. These practices may be changed, but any changes will be posted and changes will only apply to activities and information on a going forward, not retroactive basis. You are encouraged to review the privacy policy whenever you visit the site to make sure that you understand how any personal information you provide will be used.
        Note, the privacy practices set forth in this privacy policy are for this web site only. If you link to other web sites, please review the privacy policies posted at those sites.
        We collect personally identifiable information, like names, postal addresses, email addresses, etc., when voluntarily submitted by our visitors. The information you provide is used to fulfill your specific request. This information is only used to fulfill your specific request, unless you give us permission to use it in another manner, for example to add you to one of our mailing lists.
        We possess the right of using it’s user’s information just to keep them acknowledged of the products and services that are or will be provided via a communication channel, unless or until you ask us not to do.
        Cookie/Tracking Technology The Site may use cookie and tracking technology depending on the features offered. Cookie and tracking technology are useful for gathering information such as browser type and operating system, tracking the number of visitors to the Site, and understanding how visitors use the Site. Cookies can also help customize the Site for visitors. Personal information cannot be collected via cookies and other tracking technology, however, if you previously provided personally identifiable information, cookies may be tied to such information. Aggregate cookie and tracking information may be shared with third parties.
        In accordance with some of Google’s recent compulsory policies, we herewith inform you that we might be tracking your cookies.
        The Company shall under no circumstances be using any sensitive information of any nature on any of our re marketing tags.
    </p>
  </ion-card>

  <ion-card>
    <ion-card-header>Privacy Contact Information</ion-card-header>
    <ion-card-content>
        <p text-wrap>If you have any questions, concerns, or comments about our privacy policy you may contact us using the information below:</p>

        <p text-wrap>By E-Mail: info@undergarment.co.in ; service@undergarment.co.in</p>
        <p text-wrap>We reserve the right to make changes to this policy. Any changes to this policy will be posted.</p>
    </ion-card-content>
  </ion-card>

</ion-content>
